<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppTfc"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Activities.admin.AddCommonAreaActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.admin.CommonAreasActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.admin.VoteDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.admin.AddRecordActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.admin.AddVoteActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.admin.VotesRecordsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.admin.AddNeighborhoodActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.admin.NeighborDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.admin.NeighborhoodDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Neighbor.ReceiptDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Neighbor.ReceiptListActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Neighbor.AddReservation"
            android:exported="false" />
        <activity
            android:name=".Activities.Neighbor.BookingsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.general.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.general.PersonalInfoActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.general.AccountInfoActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Neighbor.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Neighbor.PostIncidenceActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Neighbor.AnnouncementsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Neighbor.MainNeighborActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.admin.MainAdminActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.general.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.general.RegisterActivity"
            android:exported="false" />
    </application>

</manifest>